# Core
pandas>=2.0
numpy>=1.24

# Notebooks in VS Code
jupyter
ipykernel

# Visualisation
matplotlib>=3.7
seaborn>=0.12

# Modelling
scikit-learn>=1.3
xgboost>=2.0
joblib>=1.3

# Model interpretation (Day 11)
shap>=0.44

# Deployment (Day 12-13)
streamlit>=1.30
python-dotenv>=1.0
requests>=2.31
